Data loaded into database using this script

In [129]:
import pandas as pd

In [130]:
data=pd.read_csv(r'C:\Users\HP\Desktop\A Sem 2\DMQL\DMQL Project\data_2.csv')

In [131]:
data.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,paint_color,image_url,description,state,lat,long,posting_date,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,7316849653,https://sfbay.craigslist.org/scz/cto/d/santa-c...,SF bay area,https://sfbay.craigslist.org,7200,2009.0,volkswagen,gti,excellent,4 cylinders,...,grey,https://images.craigslist.org/00Z0Z_5W9TRSLzp4...,I'm selling my Volkswagen GTI. It's an awesome...,ca,36.972100,-121.988100,2021-05-04T11:25:12-0700,NaN,NaN,NaN
1,7316559580,https://sfbay.craigslist.org/pen/ctd/d/hayward...,SF bay area,https://sfbay.craigslist.org,22995,2016.0,mercedes-benz,cla-class,excellent,NaN,...,white,https://images.craigslist.org/00x0x_eAmpOzd5pW...,2016 *** Mercedes-Benz CLA-Class CLA250 Sedan ...,ca,37.680206,-122.092843,2021-05-03T19:02:00-0700,NaN,NaN,NaN
2,7316187327,https://sfbay.craigslist.org/eby/ctd/d/stockto...,SF bay area,https://sfbay.craigslist.org,451,2011.0,gmc,sierra 2500hd,NaN,8 cylinders,...,NaN,https://images.craigslist.org/00505_1Hsn9FsktN...,209 Trucks NO HAGGLE / NO HASSLE PRICING!STOCK...,ca,38.017870,-121.268904,2021-05-03T07:41:03-0700,NaN,NaN,NaN
3,7316434192,https://sfbay.craigslist.org/sfc/ctd/d/hayward...,SF bay area,https://sfbay.craigslist.org,21263,2015.0,toyota,rav4 limited,good,NaN,...,NaN,https://images.craigslist.org/00I0I_1sR9gRVAnY...,⚡️⚡️⚡️Offered by: S&R Motors ⚡️ http://srmotor...,ca,37.677560,-122.090990,2021-05-03T14:11:47-0700,NaN,NaN,NaN
4,7316612196,https://sfbay.craigslist.org/eby/cto/d/antioch...,SF bay area,https://sfbay.craigslist.org,850,1998.0,ford,expedition eddie bauer,fair,8 cylinders,...,blue,https://images.craigslist.org/00404_3Qy0oobNBZ...,FOR A QUICK SALE - AS IS!!! COME AND GET IT!!!...,ca,37.993900,-121.808900,2021-05-04T00:03:33-0700,NaN,NaN,2.0

In [132]:
data.isnull().sum()

id                  0
url                 0
region              0
region_url          0
price               0
year              118
manufacturer     1722
model             518
condition       14380
cylinders       16512
fuel              267
odometer          324
title_status      585
transmission      223
VIN             14453
drive           12737
size            28663
type             8299
paint_color     11350
image_url           6
description         6
state               0
lat               725
long              725
posting_date        6
Unnamed: 25     39272
Unnamed: 26     39272
Unnamed: 27     39271
dtype: int64

Creation of Region Table

In [5]:
regiontable=data[['region', 'region_url','state']]

In [6]:
regiontable

                       region                         region_url state
0                 SF bay area       https://sfbay.craigslist.org    ca
1                 SF bay area       https://sfbay.craigslist.org    ca
2                 SF bay area       https://sfbay.craigslist.org    ca
3                 SF bay area       https://sfbay.craigslist.org    ca
4                 SF bay area       https://sfbay.craigslist.org    ca
...                       ...                                ...   ...
39267  zanesville / cambridge  https://zanesville.craigslist.org    oh
39268  zanesville / cambridge  https://zanesville.craigslist.org    oh
39269  zanesville / cambridge  https://zanesville.craigslist.org    oh
39270  zanesville / cambridge  https://zanesville.craigslist.org    oh
39271  zanesville / cambridge  https://zanesville.craigslist.org    oh

[39272 rows x 3 columns]

In [7]:
regiontable['region_id'] = range(1, len(regiontable) + 1)

C:\Users\HP\AppData\Local\Temp\ipykernel_23324\3428154923.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regiontable['region_id'] = range(1, len(regiontable) + 1)

In [8]:
desired_column_order = ['region_id'] + [col for col in regiontable.columns if col != 'region_id']

In [9]:
regiontable = regiontable[desired_column_order]

In [10]:
regiontable.reset_index(drop=True)

,region_id,region,region_url,state
0,1,SF bay area,https://sfbay.craigslist.org,ca
1,2,SF bay area,https://sfbay.craigslist.org,ca
2,3,SF bay area,https://sfbay.craigslist.org,ca
3,4,SF bay area,https://sfbay.craigslist.org,ca
4,5,SF bay area,https://sfbay.craigslist.org,ca
...,...,...,...,...
39267,39268,zanesville / cambridge,https://zanesville.craigslist.org,oh
39268,39269,zanesville / cambridge,https://zanesville.craigslist.org,oh
39269,39270,zanesville / cambridge,https://zanesville.craigslist.org,oh
39270,39271,zanesville / cambridge,https://zanesville.craigslist.org,oh
39271,39272,zanesville / cambridge,https://zanesville.craigslist.org,oh

In [12]:
regiontable=regiontable.drop('state',axis=1)

KeyError: "['state'] not found in axis"

In [15]:
regiontable=regiontable.drop('region_id',axis=1)

In [16]:
regiontable

                       region                         region_url
0                 SF bay area       https://sfbay.craigslist.org
1                 SF bay area       https://sfbay.craigslist.org
2                 SF bay area       https://sfbay.craigslist.org
3                 SF bay area       https://sfbay.craigslist.org
4                 SF bay area       https://sfbay.craigslist.org
...                       ...                                ...
39267  zanesville / cambridge  https://zanesville.craigslist.org
39268  zanesville / cambridge  https://zanesville.craigslist.org
39269  zanesville / cambridge  https://zanesville.craigslist.org
39270  zanesville / cambridge  https://zanesville.craigslist.org
39271  zanesville / cambridge  https://zanesville.craigslist.org

[39272 rows x 2 columns]

In [17]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\HP\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [60]:
import psycopg2

In [133]:
dbname = "CarListing"
user = "postgres"
password = "Dmql123"
host = "localhost"

In [194]:
conn = psycopg2.connect(
        dbname=dbname,
        user=user,
        password=password,
        host=host
)
conn.autocommit = True
cursor = conn.cursor()

In [135]:
insert_query = 'INSERT INTO Car_Region (Region, Region_URL) VALUES (%s, %s)'
insert_query_location = 'INSERT INTO Car_Location (RegionID, State, Latitude, Longitude) VALUES (%s, %s, %s, %s)'
insert_query_model= 'INSERT INTO Car_Model (Manufacturer, ModelName, Year) VALUES (%s,%s,%s)'
insert_query_entry= 'INSERT INTO Car_Entry (VIN, Description, PostingDate, URL,Price, LocationID, ModelID) VALUES (%s,%s,%s,%s,%s,%s,%s)'
insert_query_identification= 'INSERT INTO Car_Identification (VIN, Size, Condition, PaintColor, Fuel, TitleStatus, Drive, Type) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)'
insert_query_specification= 'INSERT INTO Car_Specification (VIN, Cylinder, Odometer, Transmission) VALUES(%s,%s,%s,%s)'

Data Extraction for Car_Location

In [19]:
loc = data[['region', 'state', 'lat', 'long']].drop_duplicates()

In [20]:
loc

                       region state        lat        long
0                 SF bay area    ca  36.972100 -121.988100
1                 SF bay area    ca  37.680206 -122.092843
2                 SF bay area    ca  38.017870 -121.268904
3                 SF bay area    ca  37.677560 -122.090990
4                 SF bay area    ca  37.993900 -121.808900
...                       ...   ...        ...         ...
39235  zanesville / cambridge    oh  39.636100  -82.110200
39236  zanesville / cambridge    oh  39.818700  -82.079200
39239  zanesville / cambridge    oh  39.713600  -82.201200
39258  zanesville / cambridge    oh  39.999057  -81.617421
39262  zanesville / cambridge    oh  39.917460  -81.527939

[14905 rows x 4 columns]

In [21]:
reg = loc['region']

In [22]:
reg_df = reg.to_frame(name='region')

In [23]:
len(reg_df)

14905

In [24]:
query = "SELECT RegionID FROM Car_Region WHERE Region = %s"
regionIDs=[]
for index,row in reg_df.iterrows(): 
    cursor.execute(query, (row['region'],))
    result = cursor.fetchone()
    regionIDs.append(result[0] if result else None)
loc['RegionID'] = regionIDs
loc=loc.drop('region',axis=1)

In [25]:
loc

      state        lat        long  RegionID
0        ca  36.972100 -121.988100         1
1        ca  37.680206 -122.092843         1
2        ca  38.017870 -121.268904         1
3        ca  37.677560 -122.090990         1
4        ca  37.993900 -121.808900         1
...     ...        ...         ...       ...
39235    oh  39.636100  -82.110200       425
39236    oh  39.818700  -82.079200       425
39239    oh  39.713600  -82.201200       425
39258    oh  39.999057  -81.617421       425
39262    oh  39.917460  -81.527939       425

[14905 rows x 4 columns]

Data Extraction for Car_Model

In [26]:
mod = data[['manufacturer', 'model', 'year']].drop_duplicates()

In [27]:
mod['year'] = mod['year'].fillna(0).astype(int)

In [28]:
mod

        manufacturer                   model  year
0         volkswagen                     gti  2009
1      mercedes-benz               cla-class  2016
2                gmc           sierra 2500hd  2011
3             toyota            rav4 limited  2015
4               ford  expedition eddie bauer  1998
...              ...                     ...   ...
39243     volkswagen                tiguan s  2017
39244            bmw                    x5 m  2018
39251           jeep             wrangler yj  1995
39258      chevrolet                 express  1997
39268           audi         q3 premium plus  2018

[15385 rows x 3 columns]

Data Extraction for Car_Entry

In [29]:
from pandas import to_datetime

In [139]:
ent = data[['VIN', 'description', 'posting_date','url', 'state','model', 'price','cylinders','odometer','transmission','size','condition','paint_color','fuel','title_status','drive','type']]

In [140]:
ent

,VIN,description,posting_date,url,state,model,price,cylinders,odometer,transmission,size,condition,paint_color,fuel,title_status,drive,type
0,NaN,I'm selling my Volkswagen GTI. It's an awesome...,2021-05-04T11:25:12-0700,https://sfbay.craigslist.org/scz/cto/d/santa-c...,ca,gti,7200,4 cylinders,119400.0,automatic,compact,excellent,grey,gas,clean,fwd,hatchback
1,WDDSJ4EB0GN356975,2016 *** Mercedes-Benz CLA-Class CLA250 Sedan ...,2021-05-03T19:02:00-0700,https://sfbay.craigslist.org/pen/ctd/d/hayward...,ca,cla-class,22995,NaN,47307.0,automatic,NaN,excellent,white,gas,clean,fwd,sedan
2,1GT121C81BF128849,209 Trucks NO HAGGLE / NO HASSLE PRICING!STOCK...,2021-05-03T07:41:03-0700,https://sfbay.craigslist.org/eby/ctd/d/stockto...,ca,sierra 2500hd,451,8 cylinders,109280.0,automatic,NaN,NaN,NaN,diesel,clean,4wd,truck
3,2T3YFREV0FW160958,⚡️⚡️⚡️Offered by: S&R Motors ⚡️ http://srmotor...,2021-05-03T14:11:47-0700,https://sfbay.craigslist.org/sfc/ctd/d/hayward...,ca,rav4 limited,21263,NaN,56014.0,automatic,NaN,good,NaN,gas,clean,NaN,SUV
4,NaN,FOR A QUICK SALE - AS IS!!! COME AND GET IT!!!...,2021-05-04T00:03:33-0700,https://sfbay.craigslist.org/eby/cto/d/antioch...,ca,expedition eddie bauer,850,8 cylinders,173301.0,manual,full-size,fair,blue,gas,clean,fwd,SUV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39267,5GAEVAKW6LJ246002,Carvana is the safer way to buy a car During t...,2021-04-05T11:21:10-0400,https://zanesville.craigslist.org/ctd/d/zanesv...,oh,enclave essence sport,36990,6 cylinders,11777.0,other,NaN,good,black,gas,clean,NaN,other
39268,WA1JCCFS8JR019523,$353/mo - 2018 Audi Q3 Q 3 Q-3 PREMIUM PLUS - ...,2021-04-23T10:02:25-0400,https://zanesville.craigslist.org/ctd/d/columb...,oh,q3 premium plus,23649,4 cylinders,54581.0,automatic,NaN,excellent,NaN,gas,NaN,4wd,SUV
39269,1GYFZDR49LF096400,Carvana is the safer way to buy a car During t...,2021-04-14T09:20:57-0400,https://zanesville.craigslist.org/ctd/d/zanesv...,oh,xt4 premium luxury,31590,NaN,12458.0,other,NaN,good,silver,gas,clean,NaN,hatchback
39270,4A4AP3AU6FE022026,2015 Mitsubishi Outlander Sport ES 4dr Crossov...,2021-04-28T13:50:51-0400,https://zanesville.craigslist.org/ctd/d/carrol...,oh,outlander sport,8950,NaN,93715.0,automatic,NaN,NaN,red,gas,clean,fwd,wagon
39271,5GAERBKW4LJ317921,Carvana is the safer way to buy a car During t...,2021-04-21T12:20:53-0400,https://zanesville.craigslist.org/ctd/d/zanesv...,oh,enclave essence sport,36590,6 cylinders,3993.0,other,NaN,good,white,gas,clean,fwd,other

In [141]:
query = "SELECT locationID FROM Car_Location WHERE state = %s"
locationIDs=[]
for index,row in ent.iterrows(): 
    cursor.execute(query, (row['state'],))
    result = cursor.fetchone()
    locationIDs.append(result[0] if result else None)
ent['locationID'] = locationIDs

C:\Users\HP\AppData\Local\Temp\ipykernel_23324\762082716.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ent['locationID'] = locationIDs

In [142]:
ent

,VIN,description,posting_date,url,state,model,price,cylinders,odometer,transmission,size,condition,paint_color,fuel,title_status,drive,type,locationID
0,NaN,I'm selling my Volkswagen GTI. It's an awesome...,2021-05-04T11:25:12-0700,https://sfbay.craigslist.org/scz/cto/d/santa-c...,ca,gti,7200,4 cylinders,119400.0,automatic,compact,excellent,grey,gas,clean,fwd,hatchback,1
1,WDDSJ4EB0GN356975,2016 *** Mercedes-Benz CLA-Class CLA250 Sedan ...,2021-05-03T19:02:00-0700,https://sfbay.craigslist.org/pen/ctd/d/hayward...,ca,cla-class,22995,NaN,47307.0,automatic,NaN,excellent,white,gas,clean,fwd,sedan,1
2,1GT121C81BF128849,209 Trucks NO HAGGLE / NO HASSLE PRICING!STOCK...,2021-05-03T07:41:03-0700,https://sfbay.craigslist.org/eby/ctd/d/stockto...,ca,sierra 2500hd,451,8 cylinders,109280.0,automatic,NaN,NaN,NaN,diesel,clean,4wd,truck,1
3,2T3YFREV0FW160958,⚡️⚡️⚡️Offered by: S&R Motors ⚡️ http://srmotor...,2021-05-03T14:11:47-0700,https://sfbay.craigslist.org/sfc/ctd/d/hayward...,ca,rav4 limited,21263,NaN,56014.0,automatic,NaN,good,NaN,gas,clean,NaN,SUV,1
4,NaN,FOR A QUICK SALE - AS IS!!! COME AND GET IT!!!...,2021-05-04T00:03:33-0700,https://sfbay.craigslist.org/eby/cto/d/antioch...,ca,expedition eddie bauer,850,8 cylinders,173301.0,manual,full-size,fair,blue,gas,clean,fwd,SUV,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39267,5GAEVAKW6LJ246002,Carvana is the safer way to buy a car During t...,2021-04-05T11:21:10-0400,https://zanesville.craigslist.org/ctd/d/zanesv...,oh,enclave essence sport,36990,6 cylinders,11777.0,other,NaN,good,black,gas,clean,NaN,other,112
39268,WA1JCCFS8JR019523,$353/mo - 2018 Audi Q3 Q 3 Q-3 PREMIUM PLUS - ...,2021-04-23T10:02:25-0400,https://zanesville.craigslist.org/ctd/d/columb...,oh,q3 premium plus,23649,4 cylinders,54581.0,automatic,NaN,excellent,NaN,gas,NaN,4wd,SUV,112
39269,1GYFZDR49LF096400,Carvana is the safer way to buy a car During t...,2021-04-14T09:20:57-0400,https://zanesville.craigslist.org/ctd/d/zanesv...,oh,xt4 premium luxury,31590,NaN,12458.0,other,NaN,good,silver,gas,clean,NaN,hatchback,112
39270,4A4AP3AU6FE022026,2015 Mitsubishi Outlander Sport ES 4dr Crossov...,2021-04-28T13:50:51-0400,https://zanesville.craigslist.org/ctd/d/carrol...,oh,outlander sport,8950,NaN,93715.0,automatic,NaN,NaN,red,gas,clean,fwd,wagon,112
39271,5GAERBKW4LJ317921,Carvana is the safer way to buy a car During t...,2021-04-21T12:20:53-0400,https://zanesville.craigslist.org/ctd/d/zanesv...,oh,enclave essence sport,36590,6 cylinders,3993.0,other,NaN,good,white,gas,clean,fwd,other,112

In [143]:
ent=ent.drop('state',axis=1)

In [144]:
query = "SELECT modelID FROM Car_Model WHERE ModelName = %s"
modelIDs=[]
for index,row in ent.iterrows(): 
    if not pd.isna(row['model']):
        cursor.execute(query, (row['model'],))
        result = cursor.fetchone()
        modelIDs.append(result[0] if result else None)
    else:
        modelIDs.append(None)
ent['modelID'] = modelIDs

In [145]:
ent['modelID'].isna().sum()

518

In [146]:
ent['modelID'] = ent['modelID'].fillna(0).astype(int)

In [147]:
ent

,VIN,description,posting_date,url,model,price,cylinders,odometer,transmission,size,condition,paint_color,fuel,title_status,drive,type,locationID,modelID
0,NaN,I'm selling my Volkswagen GTI. It's an awesome...,2021-05-04T11:25:12-0700,https://sfbay.craigslist.org/scz/cto/d/santa-c...,gti,7200,4 cylinders,119400.0,automatic,compact,excellent,grey,gas,clean,fwd,hatchback,1,1
1,WDDSJ4EB0GN356975,2016 *** Mercedes-Benz CLA-Class CLA250 Sedan ...,2021-05-03T19:02:00-0700,https://sfbay.craigslist.org/pen/ctd/d/hayward...,cla-class,22995,NaN,47307.0,automatic,NaN,excellent,white,gas,clean,fwd,sedan,1,2
2,1GT121C81BF128849,209 Trucks NO HAGGLE / NO HASSLE PRICING!STOCK...,2021-05-03T07:41:03-0700,https://sfbay.craigslist.org/eby/ctd/d/stockto...,sierra 2500hd,451,8 cylinders,109280.0,automatic,NaN,NaN,NaN,diesel,clean,4wd,truck,1,3
3,2T3YFREV0FW160958,⚡️⚡️⚡️Offered by: S&R Motors ⚡️ http://srmotor...,2021-05-03T14:11:47-0700,https://sfbay.craigslist.org/sfc/ctd/d/hayward...,rav4 limited,21263,NaN,56014.0,automatic,NaN,good,NaN,gas,clean,NaN,SUV,1,4
4,NaN,FOR A QUICK SALE - AS IS!!! COME AND GET IT!!!...,2021-05-04T00:03:33-0700,https://sfbay.craigslist.org/eby/cto/d/antioch...,expedition eddie bauer,850,8 cylinders,173301.0,manual,full-size,fair,blue,gas,clean,fwd,SUV,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39267,5GAEVAKW6LJ246002,Carvana is the safer way to buy a car During t...,2021-04-05T11:21:10-0400,https://zanesville.craigslist.org/ctd/d/zanesv...,enclave essence sport,36990,6 cylinders,11777.0,other,NaN,good,black,gas,clean,NaN,other,112,434
39268,WA1JCCFS8JR019523,$353/mo - 2018 Audi Q3 Q 3 Q-3 PREMIUM PLUS - ...,2021-04-23T10:02:25-0400,https://zanesville.craigslist.org/ctd/d/columb...,q3 premium plus,23649,4 cylinders,54581.0,automatic,NaN,excellent,NaN,gas,NaN,4wd,SUV,112,15385
39269,1GYFZDR49LF096400,Carvana is the safer way to buy a car During t...,2021-04-14T09:20:57-0400,https://zanesville.craigslist.org/ctd/d/zanesv...,xt4 premium luxury,31590,NaN,12458.0,other,NaN,good,silver,gas,clean,NaN,hatchback,112,868
39270,4A4AP3AU6FE022026,2015 Mitsubishi Outlander Sport ES 4dr Crossov...,2021-04-28T13:50:51-0400,https://zanesville.craigslist.org/ctd/d/carrol...,outlander sport,8950,NaN,93715.0,automatic,NaN,NaN,red,gas,clean,fwd,wagon,112,2175
39271,5GAERBKW4LJ317921,Carvana is the safer way to buy a car During t...,2021-04-21T12:20:53-0400,https://zanesville.craigslist.org/ctd/d/zanesv...,enclave essence sport,36590,6 cylinders,3993.0,other,NaN,good,white,gas,clean,fwd,other,112,434

In [148]:
ent[ent['modelID'] == 0]

,VIN,description,posting_date,url,model,price,cylinders,odometer,transmission,size,condition,paint_color,fuel,title_status,drive,type,locationID,modelID
9,NaN,"1964 Pontiac Catalina 4door parts car, rolling...",2021-05-03T03:18:09-0700,https://sfbay.craigslist.org/sfc/cto/d/stockto...,NaN,1500,8 cylinders,27000.0,automatic,full-size,fair,blue,gas,clean,rwd,sedan,1,0
230,NaN,"OVER 250 VEHICLES IN STOCK!! CARS, SUV'S AND T...",2021-04-15T08:56:36-0400,https://akroncanton.craigslist.org/ctd/d/canto...,NaN,100,4 cylinders,70000.0,other,full-size,excellent,black,gas,clean,4wd,SUV,112,0
426,NaN,For sale or trade 1931 Chevrolet 5 window Inde...,2021-04-28T08:41:19-0600,https://albuquerque.craigslist.org/cto/d/ruido...,NaN,12500,NaN,55000.0,manual,NaN,NaN,NaN,gas,missing,NaN,NaN,219,0
477,NaN,"1957 Chevy 327 engine, 3 on the tree, runs gr...",2021-04-24T13:54:18-0600,https://albuquerque.craigslist.org/cto/d/albuq...,NaN,14000,8 cylinders,100.0,manual,full-size,good,red,gas,clean,rwd,NaN,219,0
790,NaN,Selling our 1929 Mercedes Replica Roadster bui...,2021-04-13T06:41:43-0500,https://ames.craigslist.org/cto/d/ames-1929-me...,NaN,9500,4 cylinders,3200.0,automatic,mid-size,good,red,gas,clean,rwd,NaN,344,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39117,NaN,➥ Call us to confirm availability (928) 216 - ...,2021-05-01T14:03:31-0700,https://yuma.craigslist.org/ctd/d/yuma-1000-ca...,NaN,1000,NaN,25200.0,automatic,NaN,NaN,NaN,gas,clean,NaN,NaN,4004,0
39128,NaN,2016 Dodge Ram Hemi Engine. Leather all inside...,2021-04-06T22:20:20-0700,https://yuma.craigslist.org/cto/d/yuma-dodge-r...,NaN,25000,8 cylinders,126000.0,automatic,full-size,excellent,white,gas,clean,4wd,pickup,4004,0
39159,NaN,2005 Chevy Chip Truck Diesel Auto Air Brakes E...,2021-04-09T11:11:15-0700,https://yuma.craigslist.org/cto/d/el-cajon-200...,NaN,9700,NaN,181392.0,automatic,NaN,NaN,NaN,diesel,clean,NaN,NaN,4004,0
39167,NaN,Selling a beautiful excellent condition 1969...,2021-04-19T19:54:42-0700,https://yuma.craigslist.org/cto/d/yuma-1969-je...,NaN,24000,6 cylinders,700.0,manual,NaN,like new,yellow,gas,clean,4wd,NaN,4004,0
39224,NaN,"67 Ford Fairlane GT, California black plate, N...",2021-04-04T13:42:03-0400,https://zanesville.craigslist.org/cto/d/byesvi...,NaN,20000,8 cylinders,80000.0,automatic,full-size,excellent,yellow,gas,clean,rwd,NaN,112,0

In [149]:
ent=ent.drop('model',axis=1)

In [150]:
ent.loc[:, 'posting_date'] = to_datetime(ent['posting_date'], errors='coerce')

In [151]:
print(ent['posting_date'].dtypes)

object

In [152]:
ent['posting_date'] = pd.to_datetime(ent['posting_date'], errors='coerce', format='%Y-%m-%dT%H:%M:%S')

In [153]:
print(ent['posting_date'].dtypes)

datetime64[ns, UTC-07:00]

In [155]:
#Extract only the date
ent['posting_date'] = ent['posting_date'].dt.date
# This will be True for valid dates and False for invalid dates
# valid_dates = ~ent['posting_date'].isna()
invalid_dates = ent['posting_date'].isna()

from datetime import timedelta
import random

# Assuming 'df' is your DataFrame and 'posting_date' is the column with dates

# Define a date range for random date generation
start_date = pd.to_datetime('2020-01-01')
end_date = pd.to_datetime('2021-12-01')

# Generate a random date between start_date and end_date
def random_date(start, end):
    delta = end - start
    random_days = random.randrange(delta.days)
    return start + timedelta(days=random_days)

# Convert 'posting_date' to datetime, coercing errors to NaT
ent['posting_date'] = pd.to_datetime(ent['posting_date'], errors='coerce')

# Fill NaT/NaN values with random dates
ent['posting_date'] = ent['posting_date'].apply(lambda x: random_date(start_date, end_date) if pd.isna(x) else x)

# Now 'posting_date' will have no null values, all should be filled with random dates in the specified range

# Count the number of invalid dates
# invalid_dates_count = invalid_dates.sum()

In [156]:
print(ent['posting_date'].head())

0   2021-05-04
1   2021-05-03
2   2021-05-03
3   2021-05-03
4   2021-05-04
Name: posting_date, dtype: datetime64[ns]

In [157]:
ent[ent['modelID'] == 0]

,VIN,description,posting_date,url,price,cylinders,odometer,transmission,size,condition,paint_color,fuel,title_status,drive,type,locationID,modelID
9,NaN,"1964 Pontiac Catalina 4door parts car, rolling...",2021-05-03,https://sfbay.craigslist.org/sfc/cto/d/stockto...,1500,8 cylinders,27000.0,automatic,full-size,fair,blue,gas,clean,rwd,sedan,1,0
230,NaN,"OVER 250 VEHICLES IN STOCK!! CARS, SUV'S AND T...",2021-10-12,https://akroncanton.craigslist.org/ctd/d/canto...,100,4 cylinders,70000.0,other,full-size,excellent,black,gas,clean,4wd,SUV,112,0
426,NaN,For sale or trade 1931 Chevrolet 5 window Inde...,2021-07-18,https://albuquerque.craigslist.org/cto/d/ruido...,12500,NaN,55000.0,manual,NaN,NaN,NaN,gas,missing,NaN,NaN,219,0
477,NaN,"1957 Chevy 327 engine, 3 on the tree, runs gr...",2020-07-08,https://albuquerque.craigslist.org/cto/d/albuq...,14000,8 cylinders,100.0,manual,full-size,good,red,gas,clean,rwd,NaN,219,0
790,NaN,Selling our 1929 Mercedes Replica Roadster bui...,2020-02-23,https://ames.craigslist.org/cto/d/ames-1929-me...,9500,4 cylinders,3200.0,automatic,mid-size,good,red,gas,clean,rwd,NaN,344,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39117,NaN,➥ Call us to confirm availability (928) 216 - ...,2021-05-01,https://yuma.craigslist.org/ctd/d/yuma-1000-ca...,1000,NaN,25200.0,automatic,NaN,NaN,NaN,gas,clean,NaN,NaN,4004,0
39128,NaN,2016 Dodge Ram Hemi Engine. Leather all inside...,2021-04-06,https://yuma.craigslist.org/cto/d/yuma-dodge-r...,25000,8 cylinders,126000.0,automatic,full-size,excellent,white,gas,clean,4wd,pickup,4004,0
39159,NaN,2005 Chevy Chip Truck Diesel Auto Air Brakes E...,2021-04-09,https://yuma.craigslist.org/cto/d/el-cajon-200...,9700,NaN,181392.0,automatic,NaN,NaN,NaN,diesel,clean,NaN,NaN,4004,0
39167,NaN,Selling a beautiful excellent condition 1969...,2021-04-19,https://yuma.craigslist.org/cto/d/yuma-1969-je...,24000,6 cylinders,700.0,manual,NaN,like new,yellow,gas,clean,4wd,NaN,4004,0
39224,NaN,"67 Ford Fairlane GT, California black plate, N...",2020-05-16,https://zanesville.craigslist.org/cto/d/byesvi...,20000,8 cylinders,80000.0,automatic,full-size,excellent,yellow,gas,clean,rwd,NaN,112,0

In [158]:
ent

,VIN,description,posting_date,url,price,cylinders,odometer,transmission,size,condition,paint_color,fuel,title_status,drive,type,locationID,modelID
0,NaN,I'm selling my Volkswagen GTI. It's an awesome...,2021-05-04,https://sfbay.craigslist.org/scz/cto/d/santa-c...,7200,4 cylinders,119400.0,automatic,compact,excellent,grey,gas,clean,fwd,hatchback,1,1
1,WDDSJ4EB0GN356975,2016 *** Mercedes-Benz CLA-Class CLA250 Sedan ...,2021-05-03,https://sfbay.craigslist.org/pen/ctd/d/hayward...,22995,NaN,47307.0,automatic,NaN,excellent,white,gas,clean,fwd,sedan,1,2
2,1GT121C81BF128849,209 Trucks NO HAGGLE / NO HASSLE PRICING!STOCK...,2021-05-03,https://sfbay.craigslist.org/eby/ctd/d/stockto...,451,8 cylinders,109280.0,automatic,NaN,NaN,NaN,diesel,clean,4wd,truck,1,3
3,2T3YFREV0FW160958,⚡️⚡️⚡️Offered by: S&R Motors ⚡️ http://srmotor...,2021-05-03,https://sfbay.craigslist.org/sfc/ctd/d/hayward...,21263,NaN,56014.0,automatic,NaN,good,NaN,gas,clean,NaN,SUV,1,4
4,NaN,FOR A QUICK SALE - AS IS!!! COME AND GET IT!!!...,2021-05-04,https://sfbay.craigslist.org/eby/cto/d/antioch...,850,8 cylinders,173301.0,manual,full-size,fair,blue,gas,clean,fwd,SUV,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39267,5GAEVAKW6LJ246002,Carvana is the safer way to buy a car During t...,2021-07-30,https://zanesville.craigslist.org/ctd/d/zanesv...,36990,6 cylinders,11777.0,other,NaN,good,black,gas,clean,NaN,other,112,434
39268,WA1JCCFS8JR019523,$353/mo - 2018 Audi Q3 Q 3 Q-3 PREMIUM PLUS - ...,2020-02-25,https://zanesville.craigslist.org/ctd/d/columb...,23649,4 cylinders,54581.0,automatic,NaN,excellent,NaN,gas,NaN,4wd,SUV,112,15385
39269,1GYFZDR49LF096400,Carvana is the safer way to buy a car During t...,2020-03-09,https://zanesville.craigslist.org/ctd/d/zanesv...,31590,NaN,12458.0,other,NaN,good,silver,gas,clean,NaN,hatchback,112,868
39270,4A4AP3AU6FE022026,2015 Mitsubishi Outlander Sport ES 4dr Crossov...,2020-08-18,https://zanesville.craigslist.org/ctd/d/carrol...,8950,NaN,93715.0,automatic,NaN,NaN,red,gas,clean,fwd,wagon,112,2175
39271,5GAERBKW4LJ317921,Carvana is the safer way to buy a car During t...,2020-07-04,https://zanesville.craigslist.org/ctd/d/zanesv...,36590,6 cylinders,3993.0,other,NaN,good,white,gas,clean,fwd,other,112,434

In [81]:
entryid=[x for x in range(1,39273)]
ent['EntryID']=entryid

In [159]:
ent

,VIN,description,posting_date,url,price,cylinders,odometer,transmission,size,condition,paint_color,fuel,title_status,drive,type,locationID,modelID
0,NaN,I'm selling my Volkswagen GTI. It's an awesome...,2021-05-04,https://sfbay.craigslist.org/scz/cto/d/santa-c...,7200,4 cylinders,119400.0,automatic,compact,excellent,grey,gas,clean,fwd,hatchback,1,1
1,WDDSJ4EB0GN356975,2016 *** Mercedes-Benz CLA-Class CLA250 Sedan ...,2021-05-03,https://sfbay.craigslist.org/pen/ctd/d/hayward...,22995,NaN,47307.0,automatic,NaN,excellent,white,gas,clean,fwd,sedan,1,2
2,1GT121C81BF128849,209 Trucks NO HAGGLE / NO HASSLE PRICING!STOCK...,2021-05-03,https://sfbay.craigslist.org/eby/ctd/d/stockto...,451,8 cylinders,109280.0,automatic,NaN,NaN,NaN,diesel,clean,4wd,truck,1,3
3,2T3YFREV0FW160958,⚡️⚡️⚡️Offered by: S&R Motors ⚡️ http://srmotor...,2021-05-03,https://sfbay.craigslist.org/sfc/ctd/d/hayward...,21263,NaN,56014.0,automatic,NaN,good,NaN,gas,clean,NaN,SUV,1,4
4,NaN,FOR A QUICK SALE - AS IS!!! COME AND GET IT!!!...,2021-05-04,https://sfbay.craigslist.org/eby/cto/d/antioch...,850,8 cylinders,173301.0,manual,full-size,fair,blue,gas,clean,fwd,SUV,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39267,5GAEVAKW6LJ246002,Carvana is the safer way to buy a car During t...,2021-07-30,https://zanesville.craigslist.org/ctd/d/zanesv...,36990,6 cylinders,11777.0,other,NaN,good,black,gas,clean,NaN,other,112,434
39268,WA1JCCFS8JR019523,$353/mo - 2018 Audi Q3 Q 3 Q-3 PREMIUM PLUS - ...,2020-02-25,https://zanesville.craigslist.org/ctd/d/columb...,23649,4 cylinders,54581.0,automatic,NaN,excellent,NaN,gas,NaN,4wd,SUV,112,15385
39269,1GYFZDR49LF096400,Carvana is the safer way to buy a car During t...,2020-03-09,https://zanesville.craigslist.org/ctd/d/zanesv...,31590,NaN,12458.0,other,NaN,good,silver,gas,clean,NaN,hatchback,112,868
39270,4A4AP3AU6FE022026,2015 Mitsubishi Outlander Sport ES 4dr Crossov...,2020-08-18,https://zanesville.craigslist.org/ctd/d/carrol...,8950,NaN,93715.0,automatic,NaN,NaN,red,gas,clean,fwd,wagon,112,2175
39271,5GAERBKW4LJ317921,Carvana is the safer way to buy a car During t...,2020-07-04,https://zanesville.craigslist.org/ctd/d/zanesv...,36590,6 cylinders,3993.0,other,NaN,good,white,gas,clean,fwd,other,112,434

In [84]:
ent=ent.drop('EntryID',axis=1)

In [89]:
ent

,VIN,description,posting_date,url,price,locationID,modelID
0,FDAXNL4965D79PVNS,I'm selling my Volkswagen GTI. It's an awesome...,2021-05-04,https://sfbay.craigslist.org/scz/cto/d/santa-c...,7200,1,1
1,WDDSJ4EB0GN356975,2016 *** Mercedes-Benz CLA-Class CLA250 Sedan ...,2021-05-03,https://sfbay.craigslist.org/pen/ctd/d/hayward...,22995,1,2
2,1GT121C81BF128849,209 Trucks NO HAGGLE / NO HASSLE PRICING!STOCK...,2021-05-03,https://sfbay.craigslist.org/eby/ctd/d/stockto...,451,1,3
3,2T3YFREV0FW160958,⚡️⚡️⚡️Offered by: S&R Motors ⚡️ http://srmotor...,2021-05-03,https://sfbay.craigslist.org/sfc/ctd/d/hayward...,21263,1,4
4,DN6LSP218XYBHM3NU,FOR A QUICK SALE - AS IS!!! COME AND GET IT!!!...,2021-05-04,https://sfbay.craigslist.org/eby/cto/d/antioch...,850,1,5
...,...,...,...,...,...,...,...
39267,5GAEVAKW6LJ246002,Carvana is the safer way to buy a car During t...,NaN,https://zanesville.craigslist.org/ctd/d/zanesv...,36990,112,434
39268,WA1JCCFS8JR019523,$353/mo - 2018 Audi Q3 Q 3 Q-3 PREMIUM PLUS - ...,NaN,https://zanesville.craigslist.org/ctd/d/columb...,23649,112,15385
39269,1GYFZDR49LF096400,Carvana is the safer way to buy a car During t...,NaN,https://zanesville.craigslist.org/ctd/d/zanesv...,31590,112,868
39270,4A4AP3AU6FE022026,2015 Mitsubishi Outlander Sport ES 4dr Crossov...,NaN,https://zanesville.craigslist.org/ctd/d/carrol...,8950,112,2175
39271,5GAERBKW4LJ317921,Carvana is the safer way to buy a car During t...,NaN,https://zanesville.craigslist.org/ctd/d/zanesv...,36590,112,434

In [160]:
ent['VIN'].isna().sum()

14453

In [166]:
import random
import string

def generate_random_vin():
    # VINs are typically 17 characters long
    length = 17
    # Characters used in VINs (excluding I, O, and Q to avoid confusion with numbers)
    characters = string.ascii_uppercase.replace('I', '').replace('O', '').replace('Q', '') + string.digits
    return ''.join(random.choice(characters) for _ in range(length))
    
ent['VIN'] = ent['VIN'].apply(lambda x: generate_random_vin() if pd.isna(x) else x)

In [168]:

duplicate_vins = ent[ent.duplicated('VIN', keep=False)]
print(len(duplicate_vins))
print(duplicate_vins)

def generate_unique_vin(vin, counter):
    return f"{vin}_{counter}"

for vin in duplicate_vins['VIN'].unique():
    # Filter rows with the same VIN
    rows_with_duplicate_vin = ent[ent['VIN'] == vin]

    # Generate new unique VINs for each duplicate, except the first one
    counter = 1
    for index in rows_with_duplicate_vin.index[1:]:
        ent.at[index, 'VIN'] = generate_random_vin()
        counter += 1
print(ent[ent.duplicated('VIN', keep=False)])  # This should now be empty

0
Empty DataFrame
Columns: [VIN, description, posting_date, url, price, cylinders, odometer, transmission, size, condition, paint_color, fuel, title_status, drive, type, locationID, modelID]
Index: []
Empty DataFrame
Columns: [VIN, description, posting_date, url, price, cylinders, odometer, transmission, size, condition, paint_color, fuel, title_status, drive, type, locationID, modelID]
Index: []

In [163]:

nat_count = ent['posting_date'].isna().sum()

print(f"Number of NaT/None values in 'posting_date': {nat_count}")

Number of NaT/None values in 'posting_date': 0

In [164]:
print(ent[ent.duplicated('VIN', keep=False)])  # This should now be empty

Empty DataFrame
Columns: [VIN, description, posting_date, url, price, cylinders, odometer, transmission, size, condition, paint_color, fuel, title_status, drive, type, locationID, modelID]
Index: []

In [183]:
import pandas as pd
import numpy as np
from itertools import cycle

# Assuming 'ent' is your existing DataFrame

# List of size values to cycle through
sizes = cycle(['compact', 'full-size', 'mid-size', 'sub-compact'])

# Replace NaN values in 'size' column
ent['size'] = ent['size'].apply(lambda x: next(sizes) if pd.isna(x) else x)

# Now 'ent' has its NaN values in the 'size' column replaced with your specified cyclic values

In [185]:
import pandas as pd
import numpy as np
import itertools

# Assuming 'ent' is your existing DataFrame

# List of condition values to cycle through
conditions = ['excellent', 'good', 'fair']

# Create a cycle iterator for the condition values
condition_cycle = itertools.cycle(conditions)

# Replace NaN values in the 'condition' column
ent['condition'] = ent['condition'].apply(lambda x: next(condition_cycle) if pd.isna(x) else x)

In [195]:
#for index, row in regiontable.iterrows():
#    cursor.execute(insert_query, (row['region'], row['region_url']))
#for index, row in loc.iterrows():
#    cursor.execute(insert_query_location, (row['RegionID'], row['state'], row['lat'], row['long']))
#for index, row in mod.iterrows():
#   cursor.execute(insert_query_model, (row['manufacturer'], row['model'], row['year']))
#if cursor:
#    cursor.close()
#if conn:
#    conn.close()

#query_check_vin = "SELECT COUNT(*) FROM car_entry WHERE vin = %s"

    #if pd.isna(row['VIN']) or pd.isna(row['posting_date']):
    #    continue #skip iteration

    #if row['modelID'] == 0:
    #    continue  
try:
    for index, row in ent.iterrows():
        try:
            """
            TE TABLE Car_Identification (
    VIN VARCHAR PRIMARY KEY,
    Size INTEGER DEFAULT 0,
    Condition VARCHAR DEFAULT NULL,
    PaintColor VARCHAR DEFAULT NULL,
    Fuel VARCHAR DEFAULT NULL,
    TitleStatus VARCHAR DEFAULT NULL,
    Drive VARCHAR DEFAULT NULL,
    Type VARCHAR DEFAULT NULL,
    FOREIGN KEY (VIN) REFERENCES Car_Entry(VIN)
            """
#        cursor.execute(insert_query_entry, (row['VIN'], row['description'], row['posting_date'], row['url'], row['locationID'], row['modelID'], row['EntryID']))
            # print(row['VIN'], row['size'], row['condition'], row['paint_color'], row['fuel'], row['title_status'], row['drive'],row['type'])
            """VIN, Cylinder, Odometer, Transmission"""
            cursor.execute(insert_query_specification, (row['VIN'], row['cylinders'], row['odometer'],row['transmission']))
        except Exception as e:
            print(e)


    if cursor:
        cursor.close()
    if conn:
        conn.close()
except Exception as e:
    print(e)

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(BMNY6DLNMVSECE9GW) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(4EUKE5JMYG4JASMZC) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(HCYPFNB8VBUY2BC9R) is not present in table "car_entry".

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(LB6DAVUUNUTGX20H3) is not present in table "car_entry".

integer out of range

integer out of range

integer out of range

integer out of range

integer out of range

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(0XF8KZ5VGNA35BWW4) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(L8BE013EHYZ0X7ASU) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(7UKMLCVRLZNVC819A) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(590BW323EDPPZ705B) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(L3GNJTJPDWAZHDXDP) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(1G1YY2D77J5102469) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(2C3CDZH95JH101741) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(VNHHSYRM7WXZW49RE) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(WZS979ZE4LXU5BYMG) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(U4LXNVMVL3GWF7UEB) is not present in table "car_entry".

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(9MBJV5SRZ6CKCX5HL) is not present in table "car_entry".

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(1VK0YCEWASKXFJJ6J) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(8TP158J9E1H197CWT) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(N6Y50BTFMSWZ7T545) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(1G1YU2D69G5700414) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(GZ0KXLLEBNZ3PE0L7) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(ASSVUX1G5VUB42JSY) is not present in table "car_entry".

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(V54V4C6VJP0NNRC3U) is not present in table "car_entry".

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(SWFXZ6UZ2FS797FES) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(2C3CDXCT1LH184272) is not present in table "car_entry".

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(3C7WDTBT7CG232234) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(HE4685ZVL9E6BPTYP) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(2FMGK5D89KBA30035) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(EDLBE0E57N2TNM5WG) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(LFN8P8SDN3A152NTL) is not present in table "car_entry".

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(1B3EL46R45N696674) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(GP7WSD0DNW0A86FU3) is not present in table "car_entry".

integer out of range

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(WBSJF0C04LCD41155) is not present in table "car_entry".

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(WDCYC7HJ3LX333993) is not present in table "car_entry".

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(1G1YU2D67F5604134) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(3C63DRJL2CG169605) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(1G1YS3D67G5608942) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(HV1H3REK7C0MB4ALK) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(SALMF13428A268857) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(LJ3XT46N52N0AJR24) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(ZYLXS9L0HSD69ZZ5D) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(2RHL9D9U3562W93L7) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(4CV2W74XHWLKM68MN) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(3YVYBYXP9VFC3X7ME) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(9LNE3746VM8EWUXGT) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(FMT5EBU7NBMJE2YXR) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(UPPRBZSEF6HFLVZ8R) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(UNNBLKGHZP6YTA0EG) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(D0JSYL3SJ98GAHJN5) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(37V0JF4XZJUEAZLJW) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(R5S3MYLEWA0MS2H9U) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(KSF2KGTPGSRF6H5NC) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(BXAAR7FNCHA51EJFR) is not present in table "car_entry".

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(WP0AB2A80HS285846) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(YENW94H0M56D1LS0B) is not present in table "car_entry".

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(1FADP3F20FL274500) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(4T1BE32KX5U103674) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(1G1ZB5EB0AF138542) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(JN8AE2KP7B9003573) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(FWVB1X1HHTZK36APB) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(5YJSA1E41JF269425) is not present in table "car_entry".

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(1FA6P8JZ1K5551566) is not present in table "car_entry".

integer out of range

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(0RMLA6G4R0U4UDSPA) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(CNPUSRNR48W7ZWFBS) is not present in table "car_entry".

integer out of range

integer out of range

integer out of range

integer out of range

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(BJWJ6B9F4UDELN3X4) is not present in table "car_entry".

integer out of range

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(FMFVBF9BL5GW32KVT) is not present in table "car_entry".

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(EN0VM8EE1YXLXJ4YD) is not present in table "car_entry".

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(NMD9G1TJS1EY7U1JH) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(YK6FWWE836WZWFB93) is not present in table "car_entry".

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(FV8MHRFEDRA7YUCXG) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(Z0G95E45AWE3V0V4U) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(2GCEK19K7N1245979) is not present in table "car_entry".

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(3D73Y4CL3BG521155) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(B628ZA2PSFLJAVSH3) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(60JY3G80SNWGAYR4T) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(G52A7YYKZMZ7DP83Y) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(CENDWAMW97M0XES8J) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(GZKJ533B9G2J8C2KK) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(74SH8GUCWVW53KBB3) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(FXJTNRLKN9MDHZF56) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(9DDW9KHUKCZ43964V) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(E5YB3MR2GW2B4FV8U) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(K9UGRTGY9XDR0U31W) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(T5AA45DPVNZHX5XB1) is not present in table "car_entry".

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(3C63D3HL0CG329967) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(3D7KS28A38G147390) is not present in table "car_entry".

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(3B7KF23662M314853) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(0EDUUS2CR43KSHDNP) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(YHFMX22M7AT98RKWJ) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(JWBCWUM3SUFMU5HUD) is not present in table "car_entry".

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(SALGS2WF0EA167887) is not present in table "car_entry".

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(230WN4TLLUWD665SK) is not present in table "car_entry".

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(G3PVAL6F1WUGHD5TF) is not present in table "car_entry".

integer out of range

integer out of range

integer out of range

integer out of range

integer out of range

integer out of range

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(2C3CDZC99GH278860) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(1FTFW1EG4GFA40237) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(1J4FA59S8YP783770) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(SGYG8CMKPECM50JK7) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(HH71RMZM2BYX9ND2X) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(1C6RR6LT7JS271673) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(FYZJVAZZBGC5W6VB5) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(2XL0RSKK37PZ5JJH0) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"
DETAIL:  Key (vin)=(WYTU5VA7WY9CCEPT1) is not present in table "car_entry".

insert or update on table "car_specification" violates foreign key constraint "car_specification_vin_fkey"